<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Hiring date:</strong>
    <%= employee.hiring_date %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= employee.job_title %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= employee.active %>
  </p>

  <p>
    <strong>Employment status:</strong>
    <%= employee.employment_status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= employee.notes %>
  </p>

</div>
