<div id="<%= dom_id jsa %>">
  <p>
    <strong>Job description:</strong>
    <%= jsa.job_description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= jsa.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= jsa.location %>
  </p>

  <p>
    <strong>Facilitator:</strong>
    <%= jsa.facilitator %>
  </p>

  <p>
    <strong>Marathon rep:</strong>
    <%= jsa.marathon_rep %>
  </p>

  <p>
    <strong>Safety rep:</strong>
    <%= jsa.safety_rep %>
  </p>

  <p>
    <strong>Work crew supervisor:</strong>
    <%= jsa.work_crew_supervisor %>
  </p>

  <p>
    <strong>Critical steps:</strong>
    <%= jsa.critical_steps %>
  </p>

  <p>
    <strong>Potential hazards:</strong>
    <%= jsa.potential_hazards %>
  </p>

  <p>
    <strong>Safety measures:</strong>
    <%= jsa.safety_measures %>
  </p>

  <p>
    <strong>Procedures reviewed:</strong>
    <%= jsa.procedures_reviewed %>
  </p>

  <p>
    <strong>Worst case:</strong>
    <%= jsa.worst_case %>
  </p>

  <p>
    <strong>Special tools:</strong>
    <%= jsa.special_tools %>
  </p>

  <p>
    <strong>Employee name:</strong>
    <%= jsa.employee_name %>
  </p>

  <p>
    <strong>Initials:</strong>
    <%= jsa.initials %>
  </p>

  <p>
    <strong>Submission date:</strong>
    <%= jsa.submission_date %>
  </p>

  <p>
    <strong>Submission time:</strong>
    <%= jsa.submission_time %>
  </p>

</div>
